name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras

      - name: Run Ruff linter
        run: |
          uv run ruff check .

      - name: Run Ruff formatter check
        run: |
          uv run ruff format --check .

      - name: Create .env file
        run: |
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env

      - name: Run tests
        run: |
          uv run pytest --maxfail=1 --disable-warnings -q --junitxml=report.xml

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.xml

      - name: Build Docker image
        run: |
          docker build --platform linux/amd64 -t flask-linksharingapp:latest .

      - name: Run container and test endpoint
        run: |
          docker run -d --name test-container -p 8000:8000 flask-linksharingapp:latest
          sleep 5
          curl --fail http://localhost:8000 || (docker logs test-container && exit 1)

      - name: Cleanup Docker container
        if: always()
        run: |
          docker stop test-container || true
          docker rm test-container || true
